<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center"
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <ul>
        <li>Panel Replacement</li>
        <li>EV Chargers</li>
        <li>Landscape Lighting</li>
        <li>Security Lighting</li>
        <li>Recess Can Installments</li>
        <li>House Rewire</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
          <i></i>Visit Our Blog
        </a>
      </div>
    </div>
  </div>
</section>
