<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <div><img src="img/white-logo.png" alt="About Us Logo" class="about-logo"></div>
        <hr>
        <p>We are fully experienced in all aspects of the electrical systems,<p>whether you need to change out an outlet or need a full house re-wire.</p></p>
        <p>Some of our services include:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

        <ul>
    <li>Install switches/outlets</li>
    <li>GFCI circuit wiring</li>
    <li>Breaker Panel install/placement</li>
    <li>Ceiling fan install</li>
    <li>240v stovetop/oven wiring</li>
    <li>House re-wire</li>
    </ul>
      </div>
      <div class="col-lg-4">
<ul>
   <li>Meterbase install/replacement</li>
   <li>Security lighting</li>
   <li>Landscape lighting</li>
   <li>Troubleshooting</li>
   <li>Recess can lighting</li>
   <li>Motion sensor switches</li>
</ul>
</div>
<div class="col-lg-12 text-center">

</div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href=#portfolio class="btn btn-lg btn-outline">Scroll down to see some of our work</a>
      </div>
    </div>
  </div>
</section>