<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3></h3>
          <div>
              <ul>
              <li>Master's License # ME138267</li>
              <li>Contractor License # EL096061</li>
              <li>TECL # 24738</li>
              </ul>
          </div>
        </div>
        <div class="footer-col col-md-4">
          <h3> Leave us a review!{{ site.footer.social }}</h3>
          <ul class="list-inline">
            {% for network in site.social %}
            <li>
              <a href="{{ network.url }}" class="btn-social btn-outline">
              <i
                  class="fa-brands fa-fw fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div>
           <h3>Follow us on</h3>
        </div>
        <span><h3><a href="https://nextdoor.com/pages/electricians-of-dallas-carrollton-tx/"  class="nextdoor-link"><img src="img/nextdoor-logo.png" alt="Nextdoor" class="nextdoor-logo">Nextdoor</a></h3></span>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
