<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
<!--        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />-->
<!--    <img class ="logo" src="/img/eod logo (2).png" alt="EOD">-->
        <div class="intro-text">
          <span class="name"><img class ="logo" src="/img/eod logo (2).png" alt="Electricians">Electricians of Dallas</span>
<!--          <hr class="star-light" />-->
          <span class="skills">{{ site.skills }}</span>
          <div><a href="tel:9724180691">Call Us Today!</a></div>

        </div>
      </div>
    </div>
  </div>
</header>