<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
        <span class="name"><img class="header-logo" src="img/green-logo.png" alt="Logo">
</span>
          <span class="skills">
          <i><strong>"Your Electricians For Life!"</strong></i></span>
          <span class="skills">{{ site.skills }}</span>
          <div class="skills"><button class="btn btn-lg header-btn"><a href="tel:9724180691">Call us today for a <i><strong>Free Estimate!</strong></i></a></button></div>
    </div>
  </div>
</header>
