<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
<!--<div class="header-logo"><img src="img/green-logo.png" alt="Nav Logo" class="nav-logo"></div>-->
  <div class="container">
<!--  </div class="header-logo"><img src="img/green-logo.png" alt="Nav Logo" class="nav-logo"></div>-->
    <!-- Brand and toggle get grouped for better mobile display -->
<!--    <div>-->
<!--    </div>-->
<!--    </div>-->
          <div>
<!--     <div class="header-logo"><img src="img/green-logo.png" alt="Nav Logo" class="nav-logo"></div>-->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-number"><a href="tel:9724180691"><img src="img/green-plug.png" alt="number">(972)-418-0691</a></div>
      <div class="nav-email"><a href="mailto:emilysharption@electriciansofdallas.net"><img src="img/constructionmail-icon.png" alt="email">Email us</a></div>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li class="hidden">
          <a href="#page-top">Electricians of Dallas</a>
        </li>
        <li>
        <li class="page-scroll">
          <a href="#about">Services</a>
        </li>
        <li class="page-scroll">
<!--        <a href="/Users/victorpena/repos/eoc_blog_test/_layouts/gallery.html">Portfolio</a>-->
          <a href="#portfolio">Portfolio</a>
        </li>
<!--        <li class="page-scroll">-->
<!--          <a href="#contact">Contact</a>-->
<!--        </li>-->
<!--      <li class="page-scroll">-->
<!--        <a href="~/repos/myblog/">FAQ</a>-->
<!--        </li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
<!--  There was a <//div> above-->
  <!-- /.container-fluid -->
</nav>
