---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Typography from "../components/Typography.astro";
const pageTitle = "Electricians of Dallas";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Typography />
        <title>{pageTitle}</title>
        <style>
            .hero {
                min-width: 100%;
                border: 1px solid red;
            }
            .cta-contact-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                color: var(--clr-light);
            }
            .slogan-el {
                margin: 0 auto;
                text-align: center;
                padding: 0 1rem;
                color: #FF3131;
                border-bottom: 1px solid var(--clr-dark);
            }
            .cta-contact {
                background-color: var(--clr-dark);
                justify-content: space-evenly;
                padding: .3rem;
                flex: 1;
            }
            .services-section {
                background-color: var(--clr-light);
            }
            .services__list {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                min-width: 100%;
                margin: 0 auto;
                border-bottom: 1px solid var(--clr-accent);
            }
            .business-info {
                color: var(--clr-light);
            }
            @media (min-width: 1024px) {
            .services__list {
                padding: 0 2em;
                font-weight: 600;
            }
            }
        </style>
    </head>
    <body>
        <Header />
        <section class="services-section">
            <ul class="services__list">
                <li><h3>Commercial</h3></li>
                <li><h3>Residential</h3></li>
                <li><h3>Indoor</h3></li>
                <li><h3>Outdoor</h3></li>
                <li><h3>General</h3></li> 
            </ul>
        </section>
        <section class="cta-contact-wrapper">
            <h1 class="slogan-el"><em>Your electricians for life</em></h1>
            <div class="cta-contact">
                <h3><i class="fa-solid fa-location-dot" style="color: #FF3131;"></i>Carrollton, TX</h3>
                <h3><i class="fa-solid fa-phone" style="color: #007ea7;"></i>214-000-000</h3>
            </div>
        </section>
        <section class="business-info">
            
        </section>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
