---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Typography from "../components/Typography.astro";
const pageTitle = "Electricians of Dallas";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Typography />
        <title>{pageTitle}</title>
        <style>
            .hero {
                min-width: 100%;
                border: 1px solid red;
            }
            .cta-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: var(--clr-light);
            }
            .slogan-el {
                margin: 0 auto;
                padding: 0 1rem;
                color: #FF3131;
                text-align: center;
                border-top: 2px solid #03045e;
            }
            .services-section {
                background-color: var(--clr-light);
            }
            .services__list {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                min-width: 100%;
                margin: 0 auto;
            }
            .business-info {
                color: var(--clr-dark);
            }
            .header-contact-button {
            color: var(--clr-light);
            font-weight: 700;
            background-color: var(--clr-accent);
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: .2rem;
            }

            @media (min-width: 1024px) {
            .services__list {
                padding: 0 2em;
                font-weight: 600;
            }
            .slogan-el {
                flex: 1;
            }
            .cta-wrapper {
                flex-direction: row;
            }
            .cta-contact {
                display: flex;
                flex-direction: row;
            }
            }
        </style>
    </head>
    <body>
        <button class="header-contact-button">
            <h3>Free Estimates</h3>
            <h3>Call Now <i class="fa-solid fa-phone-flip fa-bounce" style="color:#FF3131 ;"></i> (214) 000-000</h3>
        </button>
        <Header />
        <section class="services-section">
            <ul class="services__list">
                <li><h3>Commercial</h3></li>
                <li><h3>Residential</h3></li>
                <li><h3>Indoor</h3></li>
                <li><h3>Outdoor</h3></li>
                <li><h3>General</h3></li> 
            </ul>
        </section>
        <section class="cta-wrapper">
            <h1 class="slogan-el"><em>Your Electricians <span>For Life</span></em></h1>
        </section>
        <section class="business-info">
            <h3>Family owned and operated Electrical Contracting Company servicing both residential and commercial customers since 2003.</h3>
        </section>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
