---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Typography from "../components/Typography.astro";
const pageTitle = "Electricians of Dallas";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Typography />
        <title>{pageTitle}</title>
        <style>
            .services-section {
                background-color: var(--clr-light);
                border-bottom: 2px solid var(--clr-accent);
                border-top: 2px solid var(--clr-accent);
            }
            .services__list {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                min-width: 100%;
                margin: 0 auto;
            }
            .services__list li {
            }
            .brand-hero {
                padding: 3em 0;
                color: var(--clr-accent);
                min-height: 70vh;
            }
            .brand-slogan-el {
                margin: auto;
                color: #FF3131;
                text-align: center;
                text-shadow: 0px 0px 1px var(--clr-dark);
            }

            .slogan-el span {
                display: block;
            }
            .brand-intro-el {
            }
            .call-button {
                background-color: var(--clr-accent);
                color: var(--clr-light);
                width: 100%;
                text-align: center;
                margin: 2em 0;
                padding: 1rem;
                border: 8px solid #12B457;
            }
            .our-electricians {
                border-top: 8px solid var(--clr-dark);
            }
            @media (min-width: 1024px) {
            .header-contact-button {
             justify-content: space-evenly;
            }
            .services__list {
                padding: 0 2em;
                font-weight: 600;
            }
            .slogan-el span {
                display: inline;
            }
            .call-button {
                width: 50%;
            }
            }
        </style>
    </head>
    <body>
        <Header />
        <section class="services-section">
            <ul class="services__list">
                <li><h3>Commercial</h3></li>
                <li><h3>Residential</h3></li>
                <li><h3>Indoor</h3></li>
                <li><h3>Outdoor</h3></li>
                <li><h3>General</h3></li> 
            </ul>
        </section>
        <section class="brand-hero">
            <h1 class="brand-slogan-el"><em class="slogan">Your Electricians <span>For Life</span></em></h1>
            <h3 class="brand-intro-el">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas distinctio molestias, illum neque odit? Et veniam eveniet quos sed totam voluptas. Dicta, corporis nesciunt ut excepturi eius suscipit? Unde?</h3>
            <button class="call-button">
                <h2>Free Estimates</h2>
                <h3>Call Now <i class="fa-solid fa-phone-flip fa-bounce" style="color:#FF3131;"></i>
                <span>(214) 000-000</span></h3>
            </button>
        </section>
        <section class="our-electricians">
            <h1>20+ Years Experience</h1>
            <h3>Family owned and operated Electrical Contracting Company servicing both residential and commercial customers since 2003.</h3>
        </section>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
