<header>
    <nav class="hidden-menu">
        <ul class="hidden-menu__list">
            <li class="nav-items menu__logo">
                <a href="/"></a>
                <img src="eod-logo-green.png" />
            </li>
            <li class="nav-items">
                <a href="/services">Services</a>
            </li>
            <li class="nav-items">
                <a href="">About Us</a>
            </li>
            <li class="nav-items">Blog</li>
        </ul>
        <div class="cta-contact">
            <h3><i class="fa-solid fa-location-dot" style="color: #FF3131;"></i>Carrollton, TX</h3>
            <h3><i class="fa-solid fa-phone" style="color: #007ea7;"></i>214-000-000</h3>
        </div>
    </nav>
    <div class="name-logo-el">
        <img
            src="new-eod-logo.svg"
            alt="The electricians of dallas logo is a green electric atom, representing innovation and knowledge"
            class="green-logo"
        />
    </div>
    <div class="hamburger-menu">
        <div class="ham-bar bar-top"></div>
        <div class="ham-bar bar-mid"></div>
        <div class="ham-bar bar-bottom"></div>
    </div>
</header>
