<header>
    <!-- <nav class="hidden-menu">
            <img src="new-eod-logo-green.svg" alt="" class="nav-items">
            <div class="nav-items"><a href="/">Electricians of Dallas</a></div>
            <div class="nav-items"><a href="/services/">About Us</a></div>
            <div class="nav-items"><a href="#">Services</a></div>
            <div class="nav-items"><a href="/blog/">Blog</a></div>
            <video class="van-cta-el" width="200rem" height="100rem" autoplay muted>
                <source src="van-cta.mp4" type="video/mp4">
            </video>
    </nav> -->
    <nav class="hidden-menu">
        <ul class="hidden-menu__list">
            <li class="nav-items menu__logo">
                <a href="/"></a>
                <img src="eod-logo-green.png" />
            </li>
            <li class="nav-items">
                <a href="/services">Services</a>
            </li>
            <li class="nav-items">
                <a href="">About Us</a>
            </li>
            <li class="nav-items">Blog</li>
        </ul>
        <video class="van-cta-el" width="200rem" height="100rem" autoplay muted>
            <source src="van-cta.mp4" type="video/mp4" />
        </video>
    </nav>
    <div class="name-logo-el">
        <img
            src="new-eod-logo-green.svg"
            alt="The electricians of dallas logo is a green electric atom, representing innovation and knowledge"
            class="green-logo"
        />
    </div>
    <div class="hamburger-menu">
        <div class="ham-bar bar-top"></div>
        <div class="ham-bar bar-mid"></div>
        <div class="ham-bar bar-bottom"></div>
    </div>
</header>
